.white-block {
  background: #FFF;
}
.oxygen-top-menu > .wrapper > .top-menu {
  background: #FFF;
}
.oxygen-top-menu > .wrapper > .top-menu.main-menu-top {
  background: #FFF;
}
.oxygen-top-menu > .wrapper > .top-menu-centered > .main .navs .main-menu-env > .nav li .sub-menu,
.shop .shop-grid .quickview-list .quickview-entry .quickview-wrapper {
  background: #FFF;
}
.share-post .share-post-links a,
.page-container .wpb_tabs.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab,
.page-container .wpb_tabs.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav li.ui-state-active {
  background: #FFF;
}
.lab_wpb_lookbook_carousel .lookbook-header .pager .owl-buttons .owl-prev,
.lab_wpb_lookbook_carousel .lookbook-header .pager .owl-buttons .owl-next {
  background-color: #FFF;
}
.page-container .wpb_tabs.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav li.ui-state-active {
  border-color: #FFF;
}
.banner,
.page-container .wpb_accordion.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_section .wpb_accordion_header,
.page-container .wpb_accordion.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_section .wpb_accordion_content {
  background-color: #FFF;
}
.page-container .wpb_tabs.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav li {
  border-color: #FFF;
}
.oxygen-top-menu > .wrapper > .main-menu-top.white-menu,
.main-sidebar .sidebar-inner,
.main-sidebar,
.main-sidebar .search,
.laborator-woocommerce .product-single .white-row,
.panel {
  background: #FFF;
}
.oxygen-top-menu > .wrapper > .top-menu-centered {
  background: #FFF;
}
.page-container .lab_wpb_blog_posts .blog-posts .blog-post,
.search-results-header .row,
body .search-results .search-entry,
ul.pagination li.dots span,
ul.page-numbers li.dots span {
  background: #FFF;
}
.oxygen-top-menu > .wrapper > .main-menu-top.white-menu .main .main-menu-env .nav > li .sub-menu {
  background: #FFF;
}
.shop_sidebar .sidebar,
.laborator-woocommerce #wl-wrapper .wishlist_table tbody,
.laborator-woocommerce .yith-wcwl-share {
  background: #FFF;
}
ul.pagination li a,
ul.page-numbers li a,
ul.pagination li span,
ul.page-numbers li span {
  background: #FFF;
}
ul.pagination li a:hover,
ul.page-numbers li a:hover,
ul.pagination li span:hover,
ul.page-numbers li span:hover {
  background: #FFF;
}
.blog .blog-post,
.blog .single_post,
.share-post,
.comments,
.blog .single_post .post_img a {
  background: #FFF;
}
.widget_shopping_cart_content .buttons .button {
  background: #FF4916;
}
.widget_shopping_cart_content .buttons .button:hover {
  background: #fb3700;
}
.price_slider_wrapper .price_slider_amount .button {
  background: #FF4916;
}
.widget_shopping_cart_content .total .amount {
  color: #FF4916;
}
.price_slider_wrapper .price_slider .ui-slider-range,
.price_slider_wrapper .price_slider .ui-slider-handle {
  background-color: #FF4916;
}
.laborator-woocommerce .product-single .product-left-info .ribbon {
  background-color: #FF4916;
}
.laborator-woocommerce .product-single .product-left-info .ribbon:after {
  border-left-color: #fb3700;
}
a {
  color: #333;
}
a:hover {
  color: #FF4916;
}
.wrapper .main {
  background: #EEE;
}
body {
  background: #EEE;
}
.header-cart {
  background: #222;
}
.cart-ribbon a .cart_content {
  background: #222;
}
.cart-ribbon a .cart_content span.bucket {
  background-color: #222;
}
.blog .blog-post .blog_content .post-meta .comment_text {
  color: #FF4916;
}
.widget_search div #searchsubmit,
.widget_product_search div #searchsubmit {
  background: #FF4916;
}
.widget_search div #searchsubmit:hover,
.widget_product_search div #searchsubmit:hover {
  background: #fb3700;
}
.laborator-woocommerce #wl-wrapper .wishlist_table .button {
  background: #FF4916;
}
.laborator-woocommerce #wl-wrapper .wishlist_table .button:hover {
  background: #fb3700;
}
.oxygen-top-menu > .wrapper > .main-menu-top > .main .main-menu-env .nav li.current_page_ancestor > a,
.oxygen-top-menu > .wrapper > .main-menu-top > .main .main-menu-env .nav li.current-menu-item > a,
.oxygen-top-menu > .wrapper > .main-menu-top > .main .main-menu-env .nav ul li.current-menu-parent a {
  color: #FF4916 !important;
}
ul.pagination li.active a,
ul.page-numbers li.active a {
  background: #FF4916;
}
.mobile-menu .cart-items span {
  background: #FF4916;
}
.mobile-menu .nav ul > li.current-menu-item > a,
.mobile-menu .nav ul > li.current-menu-parent > a,
.mobile-menu .nav ul > li.current_page_parent > a {
  color: #FF4916 !important;
}
.mobile-menu .nav > li.current-menu-item > a,
.mobile-menu .nav > li.current-menu-parent > a,
.mobile-menu .nav > li.current_page_parent > a {
  color: #FF4916 !important;
}
.mobile-menu .nav ul > li > a:hover {
  color: #FF4916 !important;
}
.mobile-menu .nav > li > a:hover {
  color: #FF4916 !important;
}
ul.pagination li a:hover,
ul.page-numbers li a:hover,
ul.pagination li span:hover,
ul.page-numbers li span:hover {
  color: #FF4916;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background: #FF4916 !important;
}
footer .footer_main .footer-nav ul li.current_page_ancestor > a,
footer .footer_main .footer-nav ul li.current-menu-item > a,
footer .footer_main .footer-nav ul li.current-menu-parent > a {
  color: #FF4916;
}
.widget_archive li a:hover,
.widget_categories li a:hover {
  color: #FF4916;
}
.product_list_widget li > .amount {
  color: #FF4916;
}
.product_list_widget li ins {
  color: #FF4916;
}
::selection {
  background: #FF4916 !important;
}
::-moz-selection {
  background: #FF4916 !important;
}
.shop .items .item-wrapper .item .description .price {
  color: #FF4916;
}
.shop .items .item-wrapper .item .quick-view a {
  background: #FF4916;
}
.shop .items .item-wrapper .item .description .add-to-cart-btn:hover {
  color: #FF4916;
}
.shop .items .item-wrapper .item .sale_tag .ribbon {
  background: #FF4916;
}
.shop .items .item-wrapper .item .sale_tag .ribbon .ribbon-content:after {
  border-left-color: #e23100;
}
.btn.btn-default {
  background: #FF4916;
}
.btn.btn-default:hover {
  background: #fb3700;
}
.header-cart .cart-sub-total span {
  color: #FF4916;
}
footer .footer_main .footer-nav ul li a:hover {
  color: #FF4916;
}
.blog .single_post .post_details .author_text a {
  color: #FF4916;
}
.share-post .share-post-links a:hover {
  background: #FF4916;
}
.comments h1 span {
  color: #FF4916;
}
.laborator-woocommerce .product-single .product-left-info .product-images .wish-list.wishlisted a {
  color: #FF4916;
}
.shop .items .item-wrapper .item .wish-list.wishlisted a {
  color: #FF4916;
}
.comments .author_post .author_about_part .date_time_reply_text a {
  color: #FF4916;
}
.comments .form-submit #submit {
  background: #FF4916;
}
.comments .form-submit #submit:hover {
  background: #e23100;
}
.widget_search div #s:focus,
.widget_product_search div #s:focus {
  border-color: #FF4916;
}
.oxygen-top-menu > .wrapper > .main-menu-top > .main .main-menu-env .nav > li .sub-menu > li:hover > a {
  color: #FF4916;
}
.banner.banner-default .button_outer {
  border-color: #ff997c;
}
.banner.banner-dark-red .button_outer {
  border-color: #ff8562;
}
.banner.banner-default .btn {
  background: #e23100;
}
.banner.banner-default .btn:hover {
  background: #af2600;
}
.banner.banner-dark-red {
  background: #fb3700;
}
.banner.banner-default {
  background: #FF4916;
}
.btn.btn-default.btn-bordered {
  background: none;
  border-color: #FF4916;
  color: #FF4916;
}
.btn.btn-default.btn-bordered:hover {
  border-color: #fb3700;
  color: #fb3700;
}
.shop .items .item-wrapper .item .description .type a:hover {
  color: #FF4916;
}
.search-results-header .row .results-text span {
  color: #FF4916;
}
.search-results-header .row .results-text span {
  color: #FF4916;
}
.search-results-header .row .results-text p a {
  color: #FF4916;
}
body .search-results .search-entry:hover .title {
  color: #FF4916;
}
.laborator-woocommerce .myaccount-env .my_account_orders .order-number a {
  color: #FF4916;
}
.oxygen-top-menu > .wrapper > .top-menu.main-menu-top .main-menu-env > .nav > li > a:hover {
  color: #FF4916;
}
.oxygen-top-menu > .wrapper > .top-menu-centered > .main .navs .main-menu-env .nav li.current-menu-item > a {
  color: #FF4916 !important;
}
.oxygen-top-menu > .wrapper > .top-menu-centered > .main .navs .main-menu-env .nav > li .sub-menu > li:hover > a {
  color: #FF4916;
}
.oxygen-top-menu > .wrapper > .top-menu-centered > .main .navs .main-menu-env .nav li.current_page_ancestor > a {
  color: #FF4916 !important;
}
.laborator-woocommerce .product-single .woocommerce-tabs #reviews #review_form input[type="submit"] {
  background: #FF4916;
}
.laborator-woocommerce .product-single .woocommerce-tabs #reviews #review_form input[type="submit"]:hover {
  background: #fb3700;
}
.laborator-woocommerce .product-single .woocommerce-tabs .tabs > li.active a {
  border-bottom-color: #FF4916;
}
.laborator-woocommerce .product-single .entry-summary .product_meta .cat_posted_in a,
.laborator-woocommerce .product-single .entry-summary .product_meta .tagged_as a,
.laborator-woocommerce .product-single .entry-summary .product_meta .product_id a,
.laborator-woocommerce .product-single .entry-summary .product_meta .sku_wrapper a {
  color: #FF4916;
}
.laborator-woocommerce .product-single .entry-summary .product_meta .sku_wrapper .sku {
  color: #FF4916;
}
.laborator-woocommerce .product-single .entry-summary .product_meta .product_id .value {
  color: #FF4916;
}
.main-sidebar ul.nav .sub-menu li:hover > a {
  color: #FF4916;
}
.main-sidebar ul.nav li > a:hover {
  color: #FF4916;
}
.main-sidebar ul.nav .sub-menu li.current-menu-item > a {
  color: #FF4916;
}
.laborator-woocommerce .product-single .entry-summary .price {
  color: #FF4916;
}
.laborator-woocommerce .product-single .entry-summary .quantity input[type="button"] {
  background: #FF4916;
}
.laborator-woocommerce .product-single .entry-summary .quantity input[type="button"]:hover {
  background: #fb3700;
}
.laborator-woocommerce .product-single .entry-summary .quantity input.qty {
  background: #fb3700;
}
.top-first .breadcrumbs > span:last-child {
  color: #FF4916;
}
.top-first .breadcrumb-menu ul.nav li a:hover {
  color: #FF4916;
}
.laborator-woocommerce .product-single .yith-wcwl-add-to-wishlist.laborator .yith-btn {
  background: #FF4916;
}
.laborator-woocommerce .product-single .yith-wcwl-add-to-wishlist.laborator .yith-btn:hover {
  background: #fb3700;
}
.laborator-woocommerce .items .product.product-type-variable .white-block .price span {
  color: #FF4916;
}
ul.pagination.page-numbers li .current,
ul.page-numbers.page-numbers li .current,
ul.pagination.page-numbers li .current:hover,
ul.page-numbers.page-numbers li .current:hover {
  background: #FF4916;
}
.laborator-woocommerce .product-single .entry-summary .price ins {
  color: #FF4916;
}
.shop .shop-grid .quickview-list .quickview-entry .quickview-wrapper .product-gallery-env .ribbon {
  background: #FF4916;
}
.shop .shop-grid .quickview-list .quickview-entry .quickview-wrapper .product-gallery-env .ribbon:after {
  border-left-color: #fb3700;
}
.header-cart .cart-items .cart-item .details .title:hover {
  color: #FF4916;
}
.header-cart .cart-items .cart-item .details .price-quantity .price ins,
.header-cart .cart-items .cart-item .details .price-quantity .price > .amount {
  color: #FF4916;
}
.cart-env .cart-totals > li.total .value strong,
.cart-env .cart-totals > li.order-total .value strong,
.cart-env .cart-totals > li.total .value .amount,
.cart-env .cart-totals > li.order-total .value .amount {
  color: #FF4916;
}
.laborator-woocommerce .order_details.header li.order strong {
  color: #FF4916;
}
.cart-env .cart-item-row .col .quantity input[type="button"] {
  background: #FF4916;
}
.cart-env .cart-item-row .col .quantity input[type="button"]:hover {
  background: #fb3700;
}
.lab_wpb_lookbook_carousel .lookbook-carousel .product-item:hover .lookbook-hover-info {
  background: #FF4916 !important;
}
.lab_wpb_lookbook_carousel .lookbook-carousel .owl-controls .owl-pagination .owl-page.active span {
  background: #FF4916;
}
.cart-env .cart-item-row .col .quantity input.qty {
  background: #fb3700;
}
footer.footer_widgets ul li a:hover {
  color: #FF4916;
}
.laborator-woocommerce .product-single .entry-summary .single_add_to_cart_button.button.alt.btn-default {
  background-color: #FF4916;
}
.laborator-woocommerce .product-single .entry-summary .variations_form .variations_button .single_add_to_cart_button {
  background-color: #FF4916;
}
.laborator-woocommerce .product-single .entry-summary .variations_form .variations_button .single_add_to_cart_button:hover,
.laborator-woocommerce .product-single .entry-summary .variations_form .variations_button .single_add_to_cart_button:focus,
.laborator-woocommerce .product-single .entry-summary .variations_form .variations_button .single_add_to_cart_button:active {
  background-color: #e23100;
  color: #FFF;
}
.widget_product_search input[type=submit],
.widget_search input[type=submit] {
  background-color: #FF4916;
}
.laborator-woocommerce .product-single .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a,
.laborator-woocommerce .product-single .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a {
  background-color: #FF4916;
}
.laborator-woocommerce .product-single .entry-summary .single_add_to_cart_button.button.alt.btn-default:hover {
  background-color: #fb3700;
}
.shop div.cart_totals table .order-total td,
.cart-env .cart-totals > li .cross-sells .product-entry .product-info .price .amount,
.shop .woocommerce-checkout-review-order-table .order-total td {
  color: #FF4916;
}
